@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.panel-default .panel-heading {
  color: whitesmoke;
  background-color: #58BB4E;
}

.panel {
  //background-color: #FFFFDD;
  //background: transparent;
  opacity: 0.98;
  border: none;
}

.panel-body {
  opacity: 0.9;
}

.list-group-item {
  background-color: rgba(189, 228, 174, 0.91);
  border: 1px solid grey;
  margin-top: 1%;
}

.list-group-item:hover {
  background-color: rgba(133, 224, 106, 0.88);
}

#app-layout {

  background-color: #4cae4c;
  background-image: url("../assets/images/Shoot1CompDownScaled.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  //animation: fadein 2s ;
  //-moz-transition: fadein 2s;
  //-webkit-transition: fadein 2s;
  //-o-transition: fadein 2s;
  //transition: fadein 2s ;

}

@keyframes fadein {
  from {
    opacity:0.5;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0.5;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0.5;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
//
//#app-layout.selection {
//  color: #4cae4c;
//  background-image: url("../assets/images/Shoot6Comp.jpg");
//
//  -webkit-background-size: cover;
//  background-size: cover;
//  background-position: center;
//  background-repeat: no-repeat;
//  background-attachment: fixed;
//}
//
//#app-layout.dataSample {
//  color: #4cae4c;
//  background-image: url("../assets/images/Shoot3FilterW.jpg");
//
//  -webkit-background-size: cover;
//  background-size: cover;
//  background-position: center;
//  background-repeat: no-repeat;
//  background-attachment: fixed;
//}

.navbar {
  color: whitesmoke;
  background-color: #2ca02c;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: whitesmoke;
}

.navbar .navbar-brand {
  color: whitesmoke;

}

.dataView {
  display: table;
}